* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

body {
    height: 110vh;
}

.link-header {
    font-weight: 600, Semi Bold;
    font-size: 24px;
    line-height: 29.26px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
    
}

.link-header:hover {
    color: #ADFF00;
}

section {
    display: inline-block;
    margin-left: 86px;
    
}


.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

.button-header {
    background: #665AE1;
    border-radius: 50px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-header:hover {
    background-color: transparent;
    border: 2px solid #665AE1;
    color: #665AE1;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;

}

.button-explore {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    font-weight: 700, Bold;
    font-size: 28px;
    color: #000000;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25) );
    margin-top: 65px;
    text-decoration: none; 
    
    
}
.button-header a {
    text-decoration: none; 

}

.button-explore:hover a {
    color: #FFFFFF;

}

.button-explore a {
    text-decoration: none;
}

@media screen and (max-width: 716px) {

    header {
        margin: 44px 0 100px 25px
      
    }

    body {
        height: 150vh;
        width: 420px;
        margin-left: 50px;
    }

    
    
    .img-logo{
        margin-left: 10px;
    }

    .button-header {
        margin-top: 30px;
       
    }

    .button-explore {
        margin-top: 40px;
    }
    
    

    section {
        margin-left: 25px;
    }
}

@media screen and (max-width: 430px) {
    
   .img-logo{
    width: 376px;
    height: 302px;
    margin-left: 23px;

   }

   .a-div {
  width: 428px;
  margin-left: 23px;

}

 .a-div p{
    width: 298px;
    text-align: center;
    font-size: 20px;
   
 }

 .button-explore{
    margin-top: 40px;
    margin-left: 90px;
    width: 117px;
    height: 45px;
    font-size: 22px;
    font-weight: 700;
 }

 header {
    margin-left: 29px;
 }

 
}